@model IEnumerable<JobApp>
@{
    ViewData["Title"] = "Index";
}

<h1>Index App</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Company Name
            </th>
            <th>
                Position
            </th>
            <th>
                Status
            </th>
            <th>
                Link
            </th>
            <th>
               Resume
            </th>
            <th>
                Date Applied
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="16.6%">
                    @obj.CompanyName
                </td>
                <td width="16.6%">
                    @obj.Position
                </td>
                <td width="16.6%">
                    @obj.Status
                </td>
                <td width="16.6%">
                    @obj.Link
                </td>
                <td width="16.6%">
                    @obj.Resume
                </td>
                <td width="16.6%">
                    @obj.DateApplied
                </td>
            </tr>

        }
    </tbody>
</table>